<?xml version="1.0"?>

<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
   </startup>
   <appSettings>
      <add key="IP" value="localhost" />
      <add key="Port" value="9996" />

      <!-- Language: -->
      <!-- ru = Russian -->
      <!-- en = English -->
      <add key="Language" value="ru" />
   </appSettings>

</configuration>